.postWrapper{
    padding-left: 40px;
    padding-right: 40px;
}


.postWrapper{
    padding-right: 40px;
    padding-right: 40px;
    .titlePost{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .bodyPost {
        font-size: 17px;
        line-height: 25px;
    }
    .dataAdd{
        margin-top: 20px;
    }
}
    